<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estefashion - Administracion</title>
	<link rel="stylesheet" href="../css/administracion.css">
</head>

<body>
    <header>
        <h1>Administración - PELICULEO</h1>
    </header>

    <div class="contenedor1">
        <table>
            <th><a href="/crearPelicula"><button id="bPeliculas">Crear Películas</button></a></th>
            <th><a href="/crearTiposClientes"><button id="btipo_cliente">Crear tipo de clientes</button></a></th>
            <th><a href="/crearClientes"><button id="bCliente">Crear clientes</button></a></th>
            <th><a href="/crearPedidos"><button id="bPedido">Crear pedido</button></a></th>
            <th><a href="/crearProductos"><button id="bProducto">Crear producto</button></a></th>
            <th><a href="/crearVentas"><button id="bVentas">Crear ventas</button></a></th>
        </table>
    </div>
    
</body>

</html>